spring:
  profiles:
    active: dev
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  servlet:
    multipart:
      max-file-size: 300Mb
      max-request-size: 300Mb
  redis:
    database: 0
    host: localhost
    port: 6379
    password:
    jedis:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0
    timeout: 20000
# mybatis
mybatis_config_file: mybatis-config.xml
mapper_path: /mapper/**.xml
entity_package: com.xl.backen.entity

# 权限菜单配置
permission:
  menusModel: task,activity,community,permiss,trash,people,volunteer,shop,app,notices,articles,classification,circle,post,merchant,partyRemember
server:
    session:
      timeout: 86400000
    tomcat:
      min-spare-threads: 20
      max-threads: 100
    connection-timeout: 5000