<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.backen.dao.ActivitysMapper">
    <resultMap id="BaseResultMap" type="com.xl.backen.entity.Activitys">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="community_id" jdbcType="VARCHAR" property="communityId"/>
        <result column="community_name" jdbcType="VARCHAR" property="communityName"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="join_start_time" jdbcType="TIMESTAMP" property="joinStartTime"/>
        <result column="join_end_time" jdbcType="TIMESTAMP" property="joinEndTime"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="limit_people" jdbcType="INTEGER" property="limitPeople"/>
        <result column="integral" jdbcType="INTEGER" property="integral"/>
        <result column="join_people" jdbcType="INTEGER" property="joinPeople"/>
        <result column="data_form" jdbcType="INTEGER" property="dataForm"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="coverpic" jdbcType="VARCHAR" property="coverpic"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="u_truename" jdbcType="VARCHAR" property="createName"/>
    </resultMap>

    <resultMap id="AppMap" type="com.xl.backen.model.AppActivitysModel">
        <id column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="community_id" jdbcType="VARCHAR" property="communityId"/>
        <result column="community_name" jdbcType="VARCHAR" property="communityName"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="join_start_time" jdbcType="TIMESTAMP" property="joinStartTime"/>
        <result column="join_end_time" jdbcType="TIMESTAMP" property="joinEndTime"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="limit_people" jdbcType="INTEGER" property="limitPeople"/>
        <result column="integral" jdbcType="INTEGER" property="integral"/>
        <result column="join_people" jdbcType="INTEGER" property="joinPeople"/>
        <result column="data_form" jdbcType="INTEGER" property="dataForm"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="coverpic" jdbcType="VARCHAR" property="coverpic"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="u_truename" jdbcType="VARCHAR" property="createName"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid, name, community_id, start_time, end_time, join_start_time, join_end_time, location,
        limit_people, integral, join_people, data_form, create_user, coverpic, description, 
        create_time, update_time, status
    </sql>

    <!-- 
	        查询列表
	        根据sysType
	        和
	        社区id
	
	        社区id为空则查询所有社区数据
     -->
    <select id="query" resultMap="BaseResultMap">
        select
          a.*,u.truename as u_truename,c.name as community_name
        from tb_communitys c  right join tb_activitys a on a.community_id = c.uuid
        left join tb_users u on u.uuid = a.create_user
        where
        <trim>
            <if test="name != null and name != ''">
                a.name like CONCAT('%',#{name},'%') and
            </if>
            <!--<if test="flag != null and flag == 1">-->
                <!--&lt;!&ndash; 报名未开始 &ndash;&gt;-->
                <!--now() &lt; join_start_time and-->
            <!--</if>-->
            <!--<if test="flag != null and flag == 2">-->
                <!--&lt;!&ndash; 报名未开始 &ndash;&gt;-->
                <!--now() between join_start_time and join_end_time and-->
            <!--</if>-->
            <if test="flag != null and flag == 3">
                <!-- 活动未开始 -->
                now() &lt; start_time and
            </if>
            <if test="flag != null and flag == 4">
                <!-- 活动进行中 -->
                now() between start_time and end_time and
            </if>
            <if test="flag != null and flag == 5">
                <!-- 活动已结束 -->
                now() &gt; end_time and
            </if>
            <if test="communityId != null and communityId != ''">
                a.community_id = #{communityId} and
            </if>
        </trim>
        a.status = 1 order by a.update_time desc
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        t.*,u.truename as u_truename
        from tb_activitys t left join tb_users u on u.uuid = t.create_user
        where t.uuid = #{uuid,jdbcType=VARCHAR}
    </select>

    <select id="findOne" parameterType="java.lang.String" resultMap="AppMap">
        select
        t.*,u.truename as u_truename
        from tb_activitys t left join tb_users u on u.uuid = t.create_user
        where t.uuid = #{uuid,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_activitys
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.xl.backen.entity.Activitys">
    insert into tb_activitys (uuid, name, community_id, 
      start_time, end_time, join_start_time, 
      join_end_time, location, limit_people, 
      integral, join_people, data_form, 
      create_user, coverpic, description, 
      create_time, update_time, status,sys_type
      )
    values (#{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{communityId,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{joinStartTime,jdbcType=TIMESTAMP}, 
      #{joinEndTime,jdbcType=TIMESTAMP}, #{location,jdbcType=VARCHAR}, #{limitPeople,jdbcType=INTEGER}, 
      #{integral,jdbcType=INTEGER}, #{joinPeople,jdbcType=INTEGER}, #{dataForm,jdbcType=INTEGER}, 
      #{createUser,jdbcType=VARCHAR}, #{coverpic,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},
       #{sysType, jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.xl.backen.entity.Activitys">
        insert into tb_activitys
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                uuid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="communityId != null">
                community_id,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            <if test="joinStartTime != null">
                join_start_time,
            </if>
            <if test="joinEndTime != null">
                join_end_time,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="limitPeople != null">
                limit_people,
            </if>
            <if test="integral != null">
                integral,
            </if>
            <if test="joinPeople != null">
                join_people,
            </if>
            <if test="dataForm != null">
                data_form,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="coverpic != null">
                coverpic,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="sysType != null">
                sys_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">
                #{uuid,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="communityId != null">
                #{communityId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="joinStartTime != null">
                #{joinStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="joinEndTime != null">
                #{joinEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="location != null">
                #{location,jdbcType=VARCHAR},
            </if>
            <if test="limitPeople != null">
                #{limitPeople,jdbcType=INTEGER},
            </if>
            <if test="integral != null">
                #{integral,jdbcType=INTEGER},
            </if>
            <if test="joinPeople != null">
                #{joinPeople,jdbcType=INTEGER},
            </if>
            <if test="dataForm != null">
                #{dataForm,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="coverpic != null">
                #{coverpic,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="sysType != null">
                #{sysType,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xl.backen.entity.Activitys">
        update tb_activitys
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="communityId != null">
                community_id = #{communityId,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="joinStartTime != null">
                join_start_time = #{joinStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="joinEndTime != null">
                join_end_time = #{joinEndTime,jdbcType=TIMESTAMP},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=VARCHAR},
            </if>
            <if test="limitPeople != null">
                limit_people = #{limitPeople,jdbcType=INTEGER},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=INTEGER},
            </if>
            <if test="joinPeople != null">
                join_people = #{joinPeople,jdbcType=INTEGER},
            </if>
            <if test="dataForm != null">
                data_form = #{dataForm,jdbcType=INTEGER},
            </if>
            <if test="createUser != null">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="coverpic != null">
                coverpic = #{coverpic,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="sysType != null">
                sys_type = #{sysType,jdbcType=VARCHAR},
            </if>
        </set>
        where uuid = #{uuid,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xl.backen.entity.Activitys">
    update tb_activitys
    set name = #{name,jdbcType=VARCHAR},
      community_id = #{communityId,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      join_start_time = #{joinStartTime,jdbcType=TIMESTAMP},
      join_end_time = #{joinEndTime,jdbcType=TIMESTAMP},
      location = #{location,jdbcType=VARCHAR},
      limit_people = #{limitPeople,jdbcType=INTEGER},
      integral = #{integral,jdbcType=INTEGER},
      join_people = #{joinPeople,jdbcType=INTEGER},
      data_form = #{dataForm,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      coverpic = #{coverpic,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      sys_type = #{sysType, jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>