<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.backen.dao.ClassificationMapper">
  <resultMap id="BaseResultMap" type="com.xl.backen.entity.Classification">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="up_id" jdbcType="VARCHAR" property="upId" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="community_id" jdbcType="VARCHAR" property="communityId" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, name, create_time, update_time, flag, up_id, pic, community_id
  </sql>
    <!-- 查询全部(条件查询) -->
  <select id="queryAll" parameterType="com.xl.backen.entity.Classification" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from tb_classification
    where
    <if test="name != null and name != ''">
        name like CONCAT(#{name}, '%') and
    </if>
    <if test="upId != null and upId != ''">
        up_id = #{upId} and
    </if>
    <if test="communityId != null and communityId != ''">
        community_id = #{communityId} and
    </if>
    flag = 1
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_classification
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_classification
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xl.backen.entity.Classification">
    insert into tb_classification (uuid, name, create_time, 
      update_time, flag, up_id, 
      pic, community_id)
    values (#{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{flag,jdbcType=INTEGER}, #{upId,jdbcType=VARCHAR}, 
      #{pic,jdbcType=VARCHAR}, #{communityId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xl.backen.entity.Classification">
    insert into tb_classification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="upId != null">
        up_id,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="communityId != null">
        community_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="upId != null">
        #{upId,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null">
        #{communityId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xl.backen.entity.Classification">
    update tb_classification
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="upId != null">
        up_id = #{upId,jdbcType=VARCHAR},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="communityId != null">
        community_id = #{communityId,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xl.backen.entity.Classification">
    update tb_classification
    set name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      flag = #{flag,jdbcType=INTEGER},
      up_id = #{upId,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR},
      community_id = #{communityId,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>