<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.backen.dao.ComplaintMapper">

    <resultMap type="com.xl.backen.entity.Complaint" id="ComplaintMap">
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="createId" column="create_id" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="files" column="files" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="communityId" column="community_id" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="truename" column="truename" jdbcType="VARCHAR"/>
        <result property="headpic" column="headpic" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="ComplaintMap">
        select
          uuid, name, content, create_id, create_name, phone, files, status, create_time, update_time, community_id, flag
        from db_backen.tb_complaint
        <where>
            <if test="uuid != null and uuid != ''">
                and uuid = #{uuid}
            </if>
        </where>
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="ComplaintMap">
        select
        uuid, name, content, create_id, create_name, phone, files, status, create_time, update_time, community_id, flag
        from db_backen.tb_complaint
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="ComplaintMap">
        select
          c.*, u.truename as truename, u.head_pic as headpic
        from db_backen.tb_complaint c left join tb_users u on u.uuid = c.create_id
        <where>
            <if test="uuid != null and uuid != ''">
                and c.uuid = #{uuid}
            </if>
            <if test="name != null and name != ''">
                and c.name = #{name}
            </if>
            <if test="content != null and content != ''">
                and c.content = #{content}
            </if>
            <if test="createId != null and createId != ''">
                and c.create_id = #{createId}
            </if>
            <if test="createName != null and createName != ''">
                and c.create_name = #{createName}
            </if>
            <if test="phone != null and phone != ''">
                and c.phone = #{phone}
            </if>
            <if test="files != null and files != ''">
                and c.files = #{files}
            </if>
            <if test="status != null">
                and c.status = #{status}
            </if>
            <if test="createTime != null">
                and c.create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and c.update_time = #{updateTime}
            </if>
            <if test="communityId != null and communityId != ''">
                and c.community_id = #{communityId}
            </if>
            <if test="flag != null">
                and c.flag = #{flag}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert">
        insert into  db_backen.tb_complaint(uuid,name, content, create_id, create_name, phone, files, status, create_time, update_time, community_id, flag)
        values (#{uuid},#{name}, #{content}, #{createId}, #{createName}, #{phone}, #{files}, #{status}, #{createTime}, #{updateTime}, #{communityId}, #{flag})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update db_backen.tb_complaint
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="createId != null and createId != ''">
                create_id = #{createId},
            </if>
            <if test="createName != null and createName != ''">
                create_name = #{createName},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="files != null and files != ''">
                files = #{files},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="communityId != null and communityId != ''">
                community_id = #{communityId},
            </if>
            <if test="flag != null">
                flag = #{flag},
            </if>
        </set>
        where uuid = #{uuid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from db_backen.tb_complaint where uuid = #{uuid}
    </delete>

</mapper>