<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.backen.dao.MerchantMapper">

    <resultMap type="com.xl.backen.entity.Merchant" id="MerchantMap">
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="label" column="label" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="weight" column="weight" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="classify" column="classify" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="MerchantMap">
        select
          uuid, name, address, phone, label, create_time, update_time, flag, weight, description, pic, classify
        from db_backen.tb_merchant
        <where>
            <if test="uuid != null and uuid != ''">
                and uuid = #{uuid}
            </if>
        </where>
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="MerchantMap">
        select
        uuid, name, address, phone, label, create_time, update_time, flag, weight, description, pic, classify
        from db_backen.tb_merchant
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="MerchantMap">
        select
          uuid, name, address, phone, label, create_time, update_time, flag, weight, description, pic, classify
        from db_backen.tb_merchant
        <where>
            <if test="uuid != null and uuid != ''">
                and uuid = #{uuid}
            </if>
            <if test="name != null and name != ''">
                and name like CONCAT('%',#{name},'%')
            </if>
            <if test="address != null and address != ''">
                and address = #{address}
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="label != null and label != ''">
                and label = #{label}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="flag != null">
                and flag = #{flag}
            </if>
            <if test="weight != null">
                and weight = #{weight}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="pic != null and pic != ''">
                and pic = #{pic}
            </if>
            <if test="classify != null and classify != ''">
                and classify like CONCAT('%',#{classify},'%')
            </if>
        </where>
        order by weight desc, update_time desc
    </select>

    <!--新增所有列-->
    <insert id="insert">
        insert into  db_backen.tb_merchant(uuid,name, address, phone, label, create_time, update_time, flag, weight, description, pic, classify)
        values (#{uuid},#{name}, #{address}, #{phone}, #{label}, #{createTime}, #{updateTime}, #{flag}, #{weight}, #{description}, #{pic}, #{classify})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update db_backen.tb_merchant
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="label != null and label != ''">
                label = #{label},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="flag != null">
                flag = #{flag},
            </if>
            <if test="weight != null">
                weight = #{weight},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="pic != null and pic != ''">
                pic = #{pic},
            </if>
            <if test="classify != null and classify != ''">
                classify = #{classify},
            </if>
        </set>
        where uuid = #{uuid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from db_backen.tb_merchant where uuid = #{uuid}
    </delete>

</mapper>