<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.backen.dao.NoticesMapper">

    <resultMap type="com.xl.backen.entity.Notices" id="NoticesMap">
        <result property="uuid" column="uuid" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="communityId" column="community_id" jdbcType="VARCHAR"/>
        <result property="communityName" column="community_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="circleId" column="circle_id" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="INTEGER"/>
        <result property="createId" column="create_id" jdbcType="VARCHAR"/>
        <result property="createName" column="create_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="NoticesMap">
        select
          n.*, u.truename as create_name
        from db_backen.tb_notices n left join tb_users u on u.uuid = n.create_id
        <where>
            <if test="uuid != null and uuid != ''">
                and n.uuid = #{uuid}
            </if>
        </where>
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="NoticesMap">
        select
        uuid, title, content, community_id, community_name, create_time, update_time, type, circle_id, flag, create_id
        from db_backen.tb_notices
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="NoticesMap">
        select
          uuid, title, content, community_id, community_name, create_time, update_time, type, circle_id, flag, create_id
        from db_backen.tb_notices
        <where>
            <if test="uuid != null and uuid != ''">
                and uuid = #{uuid}
            </if>
            <if test="title != null and title != ''">
                and title like CONCAT('%',#{title},'%')
            </if>
            <if test="content != null and content != ''">
                and content = #{content}
            </if>
            <if test="communityId != null and communityId != ''">
                and community_id = #{communityId}
            </if>
            <if test="communityName != null and communityName != ''">
                and community_name = #{communityName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="type != null">
                and type = #{type}
            </if>
            <if test="circleId != null and circleId != ''">
                and circle_id = #{circleId}
            </if>
            <if test="flag != null">
                and flag = #{flag}
            </if>
            <if test="createId != null and createId != ''">
                and create_id = #{createId}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert">
        insert into  db_backen.tb_notices(uuid,title, content, community_id, community_name, create_time, update_time, type, circle_id, flag, create_id)
        values (#{uuid},#{title}, #{content}, #{communityId}, #{communityName}, #{createTime}, #{updateTime}, #{type}, #{circleId}, #{flag}, #{createId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update db_backen.tb_notices
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="content != null and content != ''">
                content = #{content},
            </if>
            <if test="communityId != null and communityId != ''">
                community_id = #{communityId},
            </if>
            <if test="communityName != null and communityName != ''">
                community_name = #{communityName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="circleId != null and circleId != ''">
                circle_id = #{circleId},
            </if>
            <if test="flag != null">
                flag = #{flag},
            </if>
            <if test="createId != null and createId != ''">
                create_id = #{createId},
            </if>
        </set>
        where uuid = #{uuid}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from db_backen.tb_notices where uuid = #{uuid}
    </delete>

</mapper>