<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.backen.dao.ShopsMapper">
  <resultMap id="BaseResultMap" type="com.xl.backen.entity.Shops">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="integral" jdbcType="INTEGER" property="integral" />
    <result column="store" jdbcType="INTEGER" property="store" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_name" jdbcType="VARCHAR" property="createName" />
    <result column="cover_pic" jdbcType="VARCHAR" property="coverPic"/>
    <result column="community_id" jdbcType="VARCHAR" property="communityId"/>
    <result column="community_name" jdbcType="VARCHAR" property="communityName"/>
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    uuid, name, description, integral, store, create_user, create_name, status,cover_pic,create_time,update_time
  </sql>
  
  <!-- 查询全部 社区下面 -->
  <select id="query" resultMap="BaseResultMap">
  	select s.*,c.name as community_name
  	from tb_shops s left join tb_communitys c on c.uuid = s.community_id
  	where 
    <if test="communityId != null and communityId != ''">
      s.community_id=#{communityId} and
    </if>
    <if test="name != null and name != ''">
      s.name like CONCAT(#{name},'%') and
    </if>
      s.status=1
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    s.*,c.name as community_name
    from tb_shops s left join tb_communitys c on c.uuid = s.community_id
    where s.uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_shops
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xl.backen.entity.Shops">
    insert into tb_shops (uuid, name, description, 
      integral, store, create_user, 
      create_name, status)
    values (#{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{integral,jdbcType=INTEGER}, #{store,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, 
      #{createName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xl.backen.entity.Shops">
    insert into tb_shops
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="store != null">
        store,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createName != null">
        create_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="communityId != null">
      	community_id,
      </if>
      <if test="coverPic != null">
      	cover_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="store != null">
        #{store,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="communityId != null">
      	#{communityId,jdbcType=VARCHAR},
      </if>
       <if test="coverPic != null">
      	#{coverPic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xl.backen.entity.Shops">
    update tb_shops
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="store != null">
        store = #{store,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createName != null">
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="coverPic != null">
        cover_pic = #{coverPic,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xl.backen.entity.Shops">
    update tb_shops
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      integral = #{integral,jdbcType=INTEGER},
      store = #{store,jdbcType=INTEGER},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      cover_pic=#{coverPic,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>